<ion-view view-title="Bienvenidos a SteekApp">
  <ion-content class="padding">
    <h2 class="title1">No a la contaminación de agua</h2>
    <p class="minitxt">Somos un grupo de inversionistas que nos preocupamos por el agua contaminada, te enseñaremos un video para que puedas ver el plan de cuidado del agua potable para el ser humano y los animales.</p>
    <ion-row>
      <ion-col-12>
        <!--Video de la prevención de desperdicio de agua-->
        <div><iframe width="100%" height="210px" src="https://www.youtube.com/embed/jDLjNUOAr_Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
      </ion-col-12>
    </ion-row>
    <p class="minitxt">Cuidar el agua es importante, ya que gracias a ella el ser humano ha logrado sobrevivir por millones de años en el planeta tierra, beber agua potable es saludable y refrescante y sino la bebieramos nos afectaría el cuerpo ya que estuvieramos deshidratados con agua contaminada de color café como se mostro en el video anterior.</p>
    <h2 class="title2">Qué es ADN?</h2>
    <p class="minitxt">El ácido desoxirribonucleico, abreviado como ADN, siempre es un ácido nucleico que contiene las instrucciones genéticas usadas en el desarrollo y funcionamiento de todos los organismos vivos y algunos virus; también es responsable de la transmisión hereditaria. La función principal de la molécula de ADN es el almacenamiento a largo plazo de información para construir otros componentes de las células, como las proteínas y las moléculas de ARN. Los segmentos de ADN que llevan esta información genética son llamados génes, pero las otras secuencias de ADN tienen propósitos estructurales o toman parte en la regulación del uso de esta información genética.</p>
    <div class='dna'>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
</div>
<h1 class="infogra">Infografía</h1>
    <img src="../img/info.png" class="infografi">
    <h4 class="gifititles">Métodos Anticonceptivos</h4>
    <img src="../img/methodanti.gif" class="gifi">
    <h4 class="gifititles">Fecundación</h4>
    <img src="../img/fecundacion.gif" class="gifi">
    <h4 class="gifititles">Desarrollo Embrionario</h4>
    <img src="../img/desarrollo.gif" class="gifi">
    <h4 class="gifititles">Tabla Nutricional De Un Adolecente</h4>
    <img src="../img/piramide.jpg" class="gifix">    
    <h4 class="gifititles">Memoria</h4>
    <section class=ejemplo>
    <div class=controles>
      <div class=boton>
        <a id='iniciar' class=init>Iniciar</a>
      </div>
      <div class=crono>
        0:<span>30</span>
      </div>
      <div class=boton>
        <a id='reiniciar' class=reinit>Reiniciar</a>
      </div>
    </div>
    <div class=memoria>
      <article class=unoUno data-pareja=uno>
        <span><img src="../img/vitD.gif" class="cart"></span>
      </article>
      <article class=unoDos data-pareja=cuatro>
        <span><img src="../img/vitE.jpg" class="cart"></span>
      </article>
      <article class=dosUno data-pareja=dos>
        <span><img src="../img/vitA.jpg" class="cart"></span>
      </article>
      <article class=dosDos data-pareja=tres>
        <span><img src="../img/vitC.jpg" class="cart"></span>
      </article>
      <article class=tresUno data-pareja=tres>
        <span><img src="../img/vitC.jpg" class="cart"></span>
      </article>
      <article class=tresDos data-pareja=dos>
        <span><img src="../img/vitA.jpg" class="cart"></span>
      </article>
      <article class=cuatroUno data-pareja=uno>
        <span><img src="../img/vitD.gif" class="cart"></span>
      </article>
      <article class=cuatroDos data-pareja=cuatro>
        <span><img src="../img/vitE.jpg" class="cart"></span>
      </article>
    </div>
    <div class='retro msn'>
      <p>
      </p>
    </div>
    <div class=retro id='final'>
         <p>
         </p>
      </div>
  </section>

  </ion-content>
</ion-view>
